image:
  repository: quay.io/openshift-service-mesh/federation-controller
  tag: latest

federation:
  meshPeers:
#    # Local control plane namespace is used to determine where ServiceEntry for imported services
#    # and Gateway for exported Services should be created in the local mesh.
#    local:
#      controlPlane:
#        namespace: istio-system
#    remote:
#      addresses:
#      - "192.168.0.1"
#      ports:
#        dataPlane: 15443 # default
#        discovery: 15080 # default
#      # Unique network name ensures that importing and exporting the same services will not result
#      # in routing requests to the cluster where the requests come from.
#      network: west-network
#  exportedServiceSet:
#    rules:
#    - type: LabelSelector
#      labelSelectors:
#      - matchLabels:
#          export-service: "true"
