out/
bin/

# IDE configs
.idea/
.vscode/

# Test artifacts
cover.out
ginkgo-test-results.xml

# Docs
*.drawio.bkp

# demo output
Makefile.selfsigned.mk
common.mk
east/
west/
central/
*.kubeconfig
test/testdata/out
test/testdata/manifests/*/*-east.yaml
test/testdata/manifests/*/*-west.yaml
test/testdata/manifests/*/*-central.yaml
