out

# IDE configs
.idea/
.vscode/

# demo output
Makefile.selfsigned.mk
common.mk
east.kubeconfig
west.kubeconfig
test/testdata/out
test/testdata/manifests/*/*-east.yaml
test/testdata/manifests/*/*-west.yaml
